

/* Bakgrundsfärg och font */
body {
    background-color: rgb(252, 252, 252);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    margin: 0;
}

/* Loggans storlek och placering */
.logo {
    width: 6vw;
    max-width: 100px;
    min-width: 50px;
    height:auto;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.header {
    display: flex;
    flex-direction: column;
}
/* Lägger loggan och titeln högst upp*/
.logo-container {
    display: flex;
    align-items: center;
    gap: 5rem;

}
.rubrik {
    font-size: 20px;
}
/* Tar bort linjen under länkarna och ändrar färg till svart*/
.nav-meny ul li a {
    text-decoration: none;
    color:black;
    

}
/* Tar bort prickarna från länkarna och  */
.nav-meny ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

/* Sätter storlek på hero bilden*/
.herobild {
    max-width: 100%;
    display:block;
    margin: 0;
    padding: 0;
}
.hero-text {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.hero-text h2 {
    font-size: 1.5rem;
}
.hero-text p {
    font-size: 1.1rem;
}
.hero-text a {
    color: black;
    text-decoration: none;
    background-color: #B2D6A6 ;
    border: black solid 2px;
    padding: 8px;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.3s;
  
}
.hero-text a:hover {
    background-color: #e3f3de;
    border: rgb(90, 90, 90) solid 1px;
    color: rgb(90, 90, 90);
}

.näratillnaturen h3 {
    font-size: 1.2rem;
}
.näratillnaturen {
    display: grid;
    margin-top: 25px;
}
.upplevnorr {
    background-color: #BAE1AD;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1rem;
}
.upplevnorr h2 {
    color: black;
    text-align: center
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #BAE1AD;
    padding-top: 30px;
    padding-bottom: 20px;
}

.container h3 {
    background-color: white;
    font-size: 1.2rem;
    color: black;
    text-align: center;
    max-width: 90%;
    margin: auto;
    padding-top: 20px;
}
.container p {
    background-color:white;
    font-size: 1rem;
    color: black;
    text-align: center;
    max-width: 90%;
    min-height: 4rem;
    margin: auto;
    margin-bottom: 20px;
}
.container img {
    
    max-width: 90%;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: white;
}
.planera {
    display:grid;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.planera h3 {
    font-size: 1.2rem;
}

.planera p {
    font-size: 1.1rem;
}
.planera a {
    color: black;
    text-decoration: none;
    background-color: #B2D6A6 ;
    border: black solid 1px;
    padding: 10px 15px;
    width: auto;
    border-radius: 3px;
    font-weight: bold;
    margin: auto;
    transition: 0.3s;
}
.planera a:hover {
    background-color: #e3f3de;
    color: rgb(90, 90, 90);
    border:rgb(90, 90, 90) solid 1px;
}

footer {
    background-color: #D9D9D9;
    padding: 30px 10px;
}
.log-text {
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.2rem;
}

.log-text img {
    display: block;
    max-width: 10%;
    height: auto;
    margin: 0 auto 10px auto;
    justify-content: center;
}
.kontakt {
    text-align: left;
    padding: auto;
}
.kontakt a {
    color:black;
}
.fot-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.1rem;
}
.länkar {
    text-align: right;
    padding-top: 0;
    margin: 0;

}
.länk ul li a {
    text-decoration: none;
    color: black;
}
.länk ul {
    list-style-type: none;
}





@media (min-width: 720px) {
    .nav-meny ul {
        flex-direction: row;
        gap: 20px;

    }
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    body {
        font-size: 16px; 
    }
    .rubrik {
        font-size: 24px; 
    }
    .intro {
        font-size: 24px;
    }
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }

}